table, tr, td
{
	border: solid 1px black;
	border-collapse: collapse;
}

tr, td
{
	height: 120px;
	width: 120px;
	text-align: center;
}

table
{
	margin-left: 50px;
	margin-top: 50px;
}